#!/usr/sbin/nft -f

flush ruleset

table inet filter {
	chain input {
		type filter hook input priority filter;

		# Allow loopback (local connections)
		iifname lo accept

		# Allow established/related
		ct state established,related accept

		# Allow incoming pings
		ip protocol icmp limit rate 2/second accept
		meta l4proto ipv6-icmp limit rate 2/second accept

		# Allow SSH and HTTP(s)
		tcp dport { {{nftables_services|join(',')}} } accept

		# Drop everything else
		drop


	}
	chain forward {
		type filter hook forward priority filter;

		# Disallow forwarding
		drop
	}
	chain output {
		type filter hook output priority filter;

		# Allow all outgoing traffic
		accept
	}
}
